altgraph==0.17.2; python_version >= "3.7" and python_version < "3.11" and sys_platform == "darwin"
atomicwrites==1.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0"
et-xmlfile==1.1.0; python_version >= "3.6"
future==0.18.2; python_version >= "3.7" and python_version < "3.11" and sys_platform == "win32" and python_full_version >= "3.6.0"
iniconfig==1.1.1; python_version >= "3.7"
macholib==1.16; python_version >= "3.7" and python_version < "3.11" and sys_platform == "darwin"
openpyxl==3.0.10; python_version >= "3.6"
packaging==21.3; python_version >= "3.7"
pefile==2021.9.3; python_version >= "3.7" and python_version < "3.11" and sys_platform == "win32" and python_full_version >= "3.6.0"
pluggy==1.0.0; python_version >= "3.7"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pyinstaller-hooks-contrib==2022.6; python_version >= "3.7" and python_version < "3.11"
pyinstaller==5.1; python_version >= "3.7" and python_version < "3.11"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
pysimplegui==4.60.1
pytest==7.1.2; python_version >= "3.7"
pywin32-ctypes==0.2.0; python_version >= "3.7" and python_version < "3.11" and sys_platform == "win32"
tomli==2.0.1; python_version >= "3.7"
